
:root{
    /* 宣告：--名稱: 值; */
    --h1-color: #ffffff;    
    --color: #ffffffe0; 
    --content-max-weight: 1200px;   
    --content-weight: 85vw;
    --nav-color: #333;
    --nav-bg-color: #bbcf47;
    --footer-bg-color: #42d392;
    --font-size-sub: 16px;
    --margin-left: 64px;
    --drop-weight: 200px;
}

body{
    margin: 0px;
    overflow-x: hidden;  /* 隱藏橫向滾動條 */
    box-sizing: border-box;
    font-size: large;
    color: var(--color);
    background-color: #000000;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

nav{
    position: fixed;
    top:0;
    width: 100vw; height: 50px;
    background-color: var(--nav-bg-color);
    z-index: 10;
}

header{
    width: var(--content-weight);
    max-width: var(--content-max-weight);
    margin: 100px auto 60px var(--margin-left);
    color: var(--h1-color);
}

footer{
    height:100px; width: 100vw;
    background-color: var(--footer-bg-color);
    padding-top: 50px;
    font-size: var(--font-size-sub);
    text-align: center;
}

ul{display: flex; margin: 0px; padding: 0px;}  /* 使 li 水平排列 */
li{list-style: none; text-align: left;}

a{
    text-decoration: none;
    &:hover, &:visited, &:link, &:active {
        text-decoration: none;
        color: var(--color);
    }
}

p{
    margin-bottom: 24px;
    line-height:1.8;}

.sub-title{
    padding-left: 8px;
    color: var(--color);
    border-left: var(--color) solid 2px;
}


/* nav */
.nav-bar{
    width: 90vw;
    display: flex;
    justify-content:space-between; 
}
.nav-logo{
    li{
        min-width: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    li:hover{transform: scale(1.1);}
}
.nav-lists{
    li{
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 16px;
        a{
            font-weight: bold;
            color: var(--nav-color);
        }
    }
    li:hover{transform: scale(1.1);}
}


/* content */
.content{
    width: var(--content-weight);
    max-width: var(--content-max-weight);
    margin: 32px auto 65px var(--margin-left);
}

.content-sub{margin: 0px 24px 32px 24px;}


/* feature */
.center{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.accent{
    background: -webkit-linear-gradient(315deg,#42d392 25%,#c99320);
    background: linear-gradient(315deg, #42d392 25%, #c99320);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.btn-p{
    display: flex; 
    align-items: center;
    .btn-a{
        width: 95px; 
        /* height: 10px; */
        border-radius: 24px;
        background-color: var(--nav-color);
        transition: background-color 0.25s cubic-bezier(0, 0.42, 0.2, 0.99);
        margin-left: 8px; margin-right: 16px; padding: 8px;
        font-size: var(--font-size-sub);
        border: none;
        cursor: pointer;
        justify-content: flex-start;
        svg{margin-left: 4px; margin-right: 8px;}
        &:hover{background-color: var(--footer-bg-color);}
    }
}


.keyword{
    font-style:oblique;
    font-size: 18px; font-weight: bold;
    color: #0a66c2;
    padding: 0 10px;
}

/* drop SCSS*/
/* sass的语法 &符號 表示父級選擇器，意思與this一样*/
.drop {
    position: relative;
    display: block;
    width: var(--drop-weight);
    &:hover {
        .dropOption {display: block;}
        .dropdown {display: block;}
        .dropdown.close {display: none;}
        background-color: rgb(73, 73, 73);
        border-radius: 6px 6px 0px 0px;
    }
    .dropOption {
        position: relative;
        left: calc(var(--drop-weight) - 60px);
        width: auto;
        color: var(--nav-color);
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
    }
    .dropdown {
        display: none;
        width: var(--drop-weight);
        position: absolute;
        color: var(--nav-color);  
        margin: 0; padding: 0;
        background-color: rgb(73, 73, 73);
        box-shadow: 0px 2px 3px 0px #2c2c2c;
        border-radius: 0px 0px 6px 6px;
        box-sizing: border-box;
        overflow: auto;
        z-index: 10;
        li {
            display: block;
            margin: 0 10px; padding: 12px;
            font-weight: bold;
            cursor: pointer;
            &:first-child {margin-top: 10px;}
            &:last-child {margin-bottom: 10px;}
            &:hover {
                a{color: var(--nav-color);}
                background-color: var(--nav-bg-color);
                border-radius: 6px;
            }
        }
    }
}


/* RWD */
.mod-desktop{display: flex;}
.mod-mobile{display: none;}


/* @media 順序很重要 */
@media(max-width:1250px){
    /* 桌機螢幕最小 1280px */
    /* 平板螢幕設定 */
    /* 幕寬度小於 1250px，套用這個區塊的CSS */
    header{margin-left: calc(var(--margin-left) / 2);}
    .mod-desktop{display: none !important;}
    .mod-mobile{display: flex !important;}
    .content{margin-left: calc(var(--margin-left) / 2);}
}

@media(max-width:500px){
    /* 幕寬度小於 500px，套用這個區塊的CSS */
    /* 最小的手機 360px */
    header{margin-left: 20px;}
    .mod-desktop{display: none !important;} 
    .mod-mobile{display: flex !important;}
    .content{margin-left: calc(var(--margin-left) / 4);}
}


/* Adding support for Flexbox browsers */
@supports (display: flex) {
    .nav-bar, .nav-logo, .nav-lists, .btn-p {
        display: flex;
    }
}

/* Adding support for Grid browsers */
@supports (display: grid) {
    /* Add styles that use CSS Grid here if needed */
}






